In [1]:
import numpy as np
import pandas as pd

### Task 1 : Import the "RealEstate_Prices.csv" dataset. Clean column names by removing spaces,special characters, or renaming them for clarity.

In [2]:
df = pd.read_csv("Mumbai_Property.csv")

In [3]:
df

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0

In [5]:
# Clean and rename the columns
data = df.rename(columns={
    "Property_Name": "PropertyName",
    "Property_Age": "PropertyAge"
    # Add more columns as needed
})

In [7]:
data.head()

,PropertyName,Location,Region,PropertyAge,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0

### Task 2 : Handle missing values in the dataset, deciding on an appropriate strategy (e.g., imputation or removal).

In [9]:
df.isna().sum()

Property_Name    0
Location         0
Region           0
Property_Age     0
Availability     0
Area_Tpye        0
Area_SqFt        0
Rate_SqFt        0
Floor_No         0
Bedroom          0
Bathroom         0
Price_Lakh       0
dtype: int64

#### Handling missing values by removing the rows and columns of the dataset

In [10]:
df.dropna(axis = 0 , inplace = True)

In [11]:
df.dropna(axis = 1 , inplace = True)

In [13]:
df

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0

### Task 4 : Filter and subset the data based on specific criteria, such as a particular time period, property type, or location.

In [18]:
# Filtering data based on Area_SqFt column

new_data = df[df['Area_SqFt'] >= 2000]

In [19]:
new_data

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
24,Gauri Excellency,2105 2106 Charkop Mumbai,Charkop Mumbai,Under Construction,Under Construction,Carpet Area,2230.0,19730,21,4,4,440.0
39,Swan Lake Apartment,1 101 Khar West Mumbai South West Mumbai,South Mumbai,10+ Year,Ready To Move,Carpet Area,2715.0,66298,0,4,4,1800.0
58,Unnamed Property,Dahisar East Mumbai,Dahisar Mumbai,5 to 10 Year,Ready To Move,Built Up Area,2000.0,15000,3,3,3,300.0
83,Unnamed Property,Kandivali West Mumbai,Kandivali Mumbai,10+ Year,Ready To Move,Super Built Up Area,2500.0,21000,12,5,5,525.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2368,Paradise Sai Mannat,Sector 34A Kharghar Navi Mumbai Mumbai,Kharghar Navi-Mumbai,5 to 10 Year,Ready To Move,Super Built Up Area,2000.0,11750,8,3,3,235.0
2464,Unnamed Property,Near Hindu Colony South Mumbai Mumbai,South Mumbai,1 to 5 Year,Ready To Move,Carpet Area,2000.0,37500,9,4,4,750.0
2469,Unnamed Property,Near Khalsa Colg Ground Matunga South Mumbai M...,Matunga Mumbai,10+ Year,Ready To Move,Carpet Area,2000.0,43000,3,4,3,860.0
2484,Luxora Crystal Spires,0000 Manpada Thane Mumbai,Manpada Thane,0 to 1 Year,Ready To Move,Carpet Area,22658.0,2780,0,4,5,630.0
2570,V R Radha Regency,Mira Bhayandar Mira Road And Beyond Mumbai,Mira Road,1 to 5 Year,Ready To Move,Carpet Area,3014.0,1808,5,1,1,54.5

#### Filtering data based on the Floor_No available in the dataset

In [20]:
df['Floor_No'].unique()

array([14,  8,  3,  1,  5,  7,  4,  2, 26, 11, 21, 13,  0, 15, 16, 20,  9,
       12, 10, -1,  6, 17, 23, 18, 19, 27, 34, 24, 28, 22, 36, 33, 25, 43,
       47, 35, 42, 37, 29, 30, 31, 32, 41, 48, 45, 39, 59, 40, 46, 44, 38,
       55, 49], dtype=int64)

In [21]:
min_flowers = 10
max_flowers = 40

filterd_data = df[(df['Floor_No'] >= min_flowers) & (df['Floor_No'] <= max_flowers)]

In [22]:
filterd_data

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
19,Lodha Splendora,Ghodbunder Road Thane Mumbai,Thane,5 to 10 Year,Ready To Move,Carpet Area,743.0,18169,26,2,2,135.0
20,Lodha Palava Downtown,Dombivli East Thane Mumbai,Dombivli Thane,0 to 1 Year,Ready To Move,Carpet Area,398.0,10552,11,1,2,42.0
22,Unnamed Property,101 Bandra East Mumbai South West Mumbai,South Mumbai,10+ Year,Ready To Move,Carpet Area,820.0,24390,11,2,2,200.0
24,Gauri Excellency,2105 2106 Charkop Mumbai,Charkop Mumbai,Under Construction,Under Construction,Carpet Area,2230.0,19730,21,4,4,440.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2555,SK Imperial Heights,103 Mira Road Mira Road And Beyond Mumbai,Mira Road,1 to 5 Year,Ready To Move,Super Built Up Area,1050.0,9047,11,2,2,95.0
2568,Satyam Harmony,Koparkhairane Navi Mumbai Mumbai,Koparkhairane Navi-Mumbai,0 to 1 Year,Ready To Move,Carpet Area,890.0,21910,17,3,2,195.0
2569,Satyam Harmony,Koparkhairane Navi Mumbai Mumbai,Koparkhairane Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1075.0,13023,18,2,2,140.0
2571,Lodha Codename Bullseye,1503 Mira Road East Mira Road And Beyond Mumbai,Mira Road,0 to 1 Year,Ready To Move,Carpet Area,453.0,14348,15,1,1,65.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0

In [23]:
# Filtering data by availability df['Availability']
df['Availability'].unique()

array(['Ready To Move', 'Under Construction'], dtype=object)

In [24]:
want = 'Ready To Move'

filterr = df[df['Availability'] == want]

In [25]:
filterr

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0

### Task 5 : Handle categorical variables by encoding them appropriately (e.g., one-hot encoding or label encoding) for further analysis.

In [34]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['Availability', 'Area_Tpye']) 
one_hot_encoded_data

,Property_Name,Location,Region,Property_Age,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh,Availability_Ready To Move,Availability_Under Construction,Area_Tpye_Built Up Area,Area_Tpye_Carpet Area,Area_Tpye_Plot Area,Area_Tpye_Super Built Up Area
0,Omkar Alta Monte,W E Highway Malad East Mumbai,Malad Mumbai,0 to 1 Year,2900.0,17241,14,3,4,500.0,1,0,0,0,0,1
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,1900.0,12631,8,3,3,240.0,1,0,0,0,0,1
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,595.0,15966,3,1,2,95.0,1,0,0,0,0,1
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,1450.0,25862,1,3,3,375.0,1,0,1,0,0,0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,876.0,39954,5,2,2,350.0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,1180.0,10338,2,2,2,122.0,1,0,1,0,0,0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,1090.0,8073,11,2,2,88.0,1,0,1,0,0,0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,1295.0,10579,6,2,2,137.0,1,0,1,0,0,0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,1850.0,9243,6,3,3,171.0,1,0,1,0,0,0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,1100.0,8636,4,2,2,95.0,1,0,1,0,0,0

### Task 6 : Aggregate the data to calculate summary statistics or derived metrics such as average sale prices by neighborhood or property type.

In [38]:
average_prices_by_neighborhood = data.groupby('Location')['Price_Lakh'].mean()
average_prices_by_neighborhood

Location
000 4 Bunglows Mumbai                                  700.0000
000 Anand Nagar Thane Mumbai                            69.0000
000 Andheri West Mumbai                                450.0000
000 Balkum Thane Mumbai                                210.0000
000 Borivali West Mumbai                               102.0000
                                                         ...
kavesar Thane Mumbai                                   120.3750
kurla west Central Mumbai suburbs Mumbai               156.6000
secter 7 koparkhairne Navi Mumbai Mumbai               110.0000
thakurli Mumbai Beyond Thane Mumbai                     61.5125
y K nagar Nx virar west Mira Road And Beyond Mumbai     38.0000
Name: Price_Lakh, Length: 1308, dtype: float64

In [40]:
average_prices_by_property_type = data.groupby('Region')['Price_Lakh'].mean()
average_prices_by_property_type

Region
Adaigaon Navi-Mumbai      26.500000
Adharwadi Mumbai          63.680000
Airoli Navi-Mumbai        87.625000
Ambernath Mumbai          36.857143
Ambika Nagar Mumbai       42.000000
                           ...
Village Navi-Mumbai       99.500000
Wada Mumbai               55.000000
Walkeshwar Mumbai       1062.500000
Wayle Nagar               47.000000
Yagna Nagar              221.333333
Name: Price_Lakh, Length: 145, dtype: float64

In [41]:
aggregations = {
    'Price_Lakh': ['mean', 'median', 'max', 'min']
}
summary_statistics = data.groupby('Location').agg(aggregations)

In [42]:
summary_statistics

                                                   Price_Lakh                 \
                                                         mean  median    max
Location
000 4 Bunglows Mumbai                                700.0000  700.00  700.0
000 Anand Nagar Thane Mumbai                          69.0000   69.00   92.0
000 Andheri West Mumbai                              450.0000  450.00  450.0
000 Balkum Thane Mumbai                              210.0000  210.00  210.0
000 Borivali West Mumbai                             102.0000  102.00  102.0
...                                                       ...     ...    ...
kavesar Thane Mumbai                                 120.3750   86.50  380.0
kurla west Central Mumbai suburbs Mumbai             156.6000  110.00  250.0
secter 7 koparkhairne Navi Mumbai Mumbai             110.0000  110.00  110.0
thakurli Mumbai Beyond Thane Mumbai                   61.5125   57.55   79.0
y K nagar Nx virar west Mira Road And Beyond Mu...    38.0000   38.00   38.0


                                                      min
Location
000 4 Bunglows Mumbai                               700.0
000 Anand Nagar Thane Mumbai                         46.0
000 Andheri West Mumbai                             450.0
000 Balkum Thane Mumbai                             210.0
000 Borivali West Mumbai                            102.0
...                                                   ...
kavesar Thane Mumbai                                 58.0
kurla west Central Mumbai suburbs Mumbai             98.0
secter 7 koparkhairne Navi Mumbai Mumbai            110.0
thakurli Mumbai Beyond Thane Mumbai                  49.0
y K nagar Nx virar west Mira Road And Beyond Mu...   38.0

[1308 rows x 4 columns]

### Task 7 : Identify and handle outliers or extreme values in the data that may affect the analysis or modeling process.

In [43]:
Q1 = df['Price_Lakh'].quantile(0.25)
Q3 = df['Price_Lakh'].quantile(0.75)
IQR =  Q3 - Q1 


lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR


outliers = df[(df['Price_Lakh'] < lower_bound) & (df['Price_Lakh'] > upper_bound)]

In [44]:
outliers

Empty DataFrame
Columns: [Property_Name, Location, Region, Property_Age, Availability, Area_Tpye, Area_SqFt, Rate_SqFt, Floor_No, Bedroom, Bathroom, Price_Lakh]
Index: []

In [45]:
#### If we want to remove outliers we can use the following approach 

filterd_data = df[(df['Price_Lakh'] >= lower_bound) & (df['Price_Lakh'] <= upper_bound)]

In [47]:
filterd_data

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
1,T Bhimjyani Neelkanth Woods,Manpada Thane Mumbai,Manpada Thane,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Dahisar West Mumbai,Dahisar Mumbai,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Vidyavihar West Vidyavihar West Central Mumbai...,Central Mumbai,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,176 Cst Road Kalina Mumbai 400098 Santacruz Ea...,Santacruz Mumbai,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
5,Varun Garden,Manpada Thane Mumbai,Manpada Thane,5 to 10 Year,Ready To Move,Super Built Up Area,1500.0,14666,7,3,3,220.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Sector 23 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Sector 2 Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Ulwe Navi Mumbai Mumbai,Ulwe Navi-Mumbai,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0